@font-face {
    font-family: 'sequel';
    font-style: normal;
  		font-weight: 400;
     src: url('sequel.ttf') format('truetype');
}
body {
 background: url(mbg.png), #FFFFFF; 
 font-family: 'sequel', sans-serif;
}
* {
  font-family: 'sequel', sans-serif;
    font-size: 14px;
line-height: 16px;
}
.navbar {
 text-transform: uppercase;
color: #2B5A4D;   
}    
